* {
    margin: 0;
    padding: 0;
    font-family: 'WeblySleek UI';
    color: black;
}

@font-face {
    font-family: "WeblySleek UI";
    src: url(fonts/WeblySleek-UI-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WeblySleek UI";
    src: url(fonts/WeblySleek-UI-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "WeblySleek UI";
    src: url(fonts/WeblySleek-UI-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

:root {
    --toppad: clamp(1rem, calc((100vh - 600px - 140px - 4rem) / 3 * 2), 6rem);
    --botpad: clamp(1rem, calc((100vh - 600px - 140px - 4rem) / 3 * 1), 3rem);
}

body {
    background-color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 11.5px;
    font-weight: normal;
    padding-top: 6px;
    padding-left: 12px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#main-wrapper {
    display: grid;
    grid-template-columns: 2rem 250px minmax(1rem, calc(100px - 2rem)) 600px minmax(1rem, calc(100px - 2rem)) 250px 2rem;
    grid-template-rows: var(--toppad) 140px var(--botpad) 2rem 250px calc(100px - 2rem) 2rem 250px 2rem;
}

#main-wrapper figure {
    height: 100%;
    width: 100%;
    grid-area: 2 / 4 / 3 / 5;
}

#img-logo-big {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.lobbywrapper .user-table {
    display: none;
}
.lobbywrapper .user-name {
    display: none;
}

table {
    height: 100%;
    width: 100%;
    border-spacing: 0;
}

table, th, td {
    border: 1px solid black;
}

.user-name {
    text-align: center;
}

.user-name:nth-of-type(1) {
    grid-area: 4 / 4 / 5 / 5;
}
.user-table:nth-of-type(1) {
    grid-area: 5 / 4 / 9 / 5;
}
.user-name:nth-of-type(2) {
    grid-area: 4 / 2 / 5 / 3;
}
.user-table:nth-of-type(2) {
    grid-area: 5 / 2 / 6 / 3;
}
.user-name:nth-of-type(3) {
    grid-area: 4 / 6 / 5 / 7;
}
.user-table:nth-of-type(3) {
    grid-area: 5 / 6 / 6 / 7;
}
.user-name:nth-of-type(3) {
    grid-area: 4 / 6 / 5 / 7;
}
.user-table:nth-of-type(3) {
    grid-area: 5 / 6 / 6 / 7;
}
.user-name:nth-of-type(4) {
    grid-area: 7 / 2 / 8 / 3;
}
.user-table:nth-of-type(4) {
    grid-area: 8 / 2 / 9 / 3;
}
.user-name:nth-of-type(5) {
    grid-area: 7 / 6 / 8 / 7;
}
.user-table:nth-of-type(5) {
    grid-area: 8 / 6 / 9 / 7;
}

td {
    position: relative;
    overflow: hidden;
}

td p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
    pointer-events: none
}

.bingo-checkbox {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
    height: 100%;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

#table-me .bingo-checkbox:hover {
    outline: 3px solid #9a9a9a;
    outline-offset: -2px;
}

.bingo-checkbox:checked {
    background-color: #0078d7;
}

.metadata-checkbox {
    display: none;
}

#meta-unix-browser:checked ~ #main-wrapper #table-me .bingo-checkbox {
    cursor: pointer;
}

#meta-unix-browser:checked ~ #main-wrapper .bingo-checkbox:checked {
    background-color: #007bff;
}

#menu-controls {
    position: absolute;
    top: calc(var(--toppad) + 140px + var(--botpad));
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - (var(--toppad) + 140px + var(--botpad)) - 2rem);
    display: grid;
    grid-template-columns: auto 300px auto;
}

.game-wrapper #menu-controls {
    display: none;
}

#menu-controls * {
    display: none;
}

#menu-controls >:nth-child(1) {
    grid-area: 1 / 2 / 2 / 3;
    display: block !important;
}

.mainmenu {
    grid-template-rows: 50px auto 80px 2rem 80px 2rem;
}

.mainmenu >:nth-child(2) {
    grid-area: 3 / 2 / 4 / 3;
    display: block !important;
}
.mainmenu >:nth-child(3) {
    grid-area: 5 / 2 / 6 / 3;
    display: block !important;
}

.hostmenu {
    grid-template-rows: 50px 2rem 50px auto 80px 2rem 80px 2rem;
}

.hostmenu >:nth-child(4) {
    grid-area: 3 / 2 / 4 / 3;
    display: block !important;
}
.hostmenu >:nth-child(5) {
    grid-area: 7 / 2 / 8 / 3;
    display: block !important;
}
.hostmenu >:nth-child(6) {
    grid-area: 5 / 2 / 6 / 3;
    display: block !important;
}

.joinmenu {
    grid-template-rows: 50px 2rem 50px auto 80px 2rem 80px 2rem;
}
.joinmenu >:nth-child(4) {
    grid-area: 3 / 2 / 4 / 3;
    display: block !important;
}
.joinmenu >:nth-child(5) {
    grid-area: 7 / 2 / 8 / 3;
    display: block !important;
}
.joinmenu >:nth-child(7) {
    grid-area: 5 / 2 / 6 / 3;
    display: block !important;
}

#menu-controls input[type="text"] {
    appearance: none;
    border: none;
    text-align: center;
    font-size: 18px;
}

#menu-controls input[type="text"]::placeholder {
    color: white;
}

#menu-controls button {
    appearance: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    * {
        color: white;
    }
    
    body {
        background-color: black;
    }
    
    table, tr, td {
        border: 1px solid #666666;
    }
    
    #img-logo-big {
        filter: invert(100%)
    }
    
    #meta-unix-browser:checked ~ #main-wrapper .bingo-checkbox:checked {
        background-color: #0a84ff;
    }
    
    #menu-controls input[type="text"] {
        background-color: black;
        border: 2px solid #666666;
    }
    
    #menu-controls button {
        background-color: black;
        border: 2px solid #666666;
    }
}

@media all and (display-mode: standalone) {
    h1 {
        display: unset;
    }
}

@media screen and (max-width: calc(250px + 600px + 250px + (4 * 16px))) {
    #main-wrapper {
        grid-template-columns: 2rem 600px minmax(1rem, 4rem) 250px 2rem;
        grid-template-rows: var(--toppad) 140px var(--botpad) 2rem 250px calc(600px - 500px - 4rem) 2rem 250px calc(600px - 500px - 4rem) 2rem 250px calc(600px - 500px - 4rem) 2rem 250px 2rem;
    }
    
    #main-wrapper figure {
        max-height: 140px;
        position: fixed;
        top: var(--toppad);
        left: 50%;
        transform: translateX(-50%);
    }
    
    .user-name:nth-of-type(1) {
        position: fixed;
        transform: translateX(calc(600px / 2 + 2rem - 50%));
        top: calc(var(--toppad) + 140px + var(--botpad));
    }
    .user-table:nth-of-type(1) {
        position: fixed;
        height: min(calc(100vh - var(--toppad) - 140px - var(--botpad) - 4rem), 600px);
        width: min(calc(100vh - var(--toppad) - 140px - var(--botpad) - 4rem), 600px);
        transform: translateX(2rem);
        top: calc(var(--toppad) + 140px + var(--botpad) + 2rem);
    }
    
    table {
        font-size: calc(min(calc(100vh - var(--toppad) - 140px - var(--botpad) - 4rem), 600px) / 37);
    }
    
    .user-name:nth-of-type(2) {
        grid-area: 4 / 4 / 5 / 5;
    }
    .user-table:nth-of-type(2) {
        grid-area: 5 / 4 / 6 / 5;
    }
    .user-name:nth-of-type(3) {
        grid-area: 7 / 4 / 8 / 5;
    }
    .user-table:nth-of-type(3) {
        grid-area: 8 / 4 / 9 / 5;
    }
    .user-name:nth-of-type(4) {
        grid-area: 10 / 4 / 11 / 5;
    }
    .user-table:nth-of-type(4) {
        grid-area: 11 / 4 / 12 / 5;
    }
    .user-name:nth-of-type(5) {
        grid-area: 13 / 4 / 14 / 5;
    }
    .user-table:nth-of-type(5) {
        grid-area: 14 / 4 / 15 / 5;
    }
}


@media screen and (max-width: calc(600px + 250px + (3 * 16px))) { 
    #main-wrapper {
        grid-template-columns: min(calc(100vw - (max(1rem, env(safe-area-inset-left))) * 2), 600px);
        grid-template-rows: 2rem 100px 1rem 2rem min(calc(100vw - 2rem), 600px) 2rem 2rem min(calc(100vw - 2rem), 600px) 2rem 2rem min(calc(100vw - 2rem), 600px) 2rem 2rem min(calc(100vw - 2rem), 600px) 2rem 2rem min(calc(100vw - 2rem), 600px) max(1rem, env(safe-area-inset-bottom));
    }
    
    #main-wrapper figure {
        max-height: 100%;
        position: relative;
        top: unset;
        grid-area: 2 / 1 / 3 / 2;
    }
    
    #menu-controls {
        top: calc(2rem + 100px + 1rem);
        height: auto;
    }
    
    
    
    .mainmenu {
        grid-template-rows: 50px 2rem 80px 2rem 80px max(1rem, env(safe-area-inset-left));
    }

    .hostmenu {
        grid-template-rows: 50px 2rem 50px 2rem 80px 2rem 80px max(1rem, env(safe-area-inset-left));
    }

    .joinmenu {
        grid-template-rows: 50px 2rem 50px 2rem 80px 2rem 80px max(1rem, env(safe-area-inset-left));
    }
    
    
    
    table {
        font-size: calc(min(calc(100vw - (max(1rem, env(safe-area-inset-left))) * 2), 600px) / 42);
    }
    
    .user-name:nth-of-type(1) {
        position: unset;
        transform: unset;
        top: unset;
        grid-area: 4 / 1 / 5 / 2;
    }
    .user-table:nth-of-type(1) {
        position: unset;
        height: 100%;
        width: 100%;
        transform: none;
        top: unset;
        grid-area: 5 / 1 / 6 / 2;
    }
    .user-name:nth-of-type(2) {
        grid-area: 7 / 1 / 8 / 2;
    }
    .user-table:nth-of-type(2) {
        grid-area: 8 / 1 / 9 / 2;
    }
    .user-name:nth-of-type(3) {
        grid-area: 10 / 1 / 11 / 2;
    }
    .user-table:nth-of-type(3) {
        grid-area: 11 / 1 / 12 / 2;
    }
    .user-name:nth-of-type(4) {
        grid-area: 13 / 1 / 14 / 2;
    }
    .user-table:nth-of-type(4) {
        grid-area: 14 / 1 / 15 / 2;
    }
    .user-name:nth-of-type(5) {
        grid-area: 16 / 1 / 17 / 2;
    }
    .user-table:nth-of-type(5) {
        grid-area: 17 / 1 / 18 / 2;
    }
}