* {
    margin: 0;
    padding: 0;
    font-family: 'WeblySleek UI';
    color: black;
}

@font-face {
    font-family: "WeblySleek UI";
    src: url(fonts/WeblySleek-UI-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WeblySleek UI";
    src: url(fonts/WeblySleek-UI-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "WeblySleek UI";
    src: url(fonts/WeblySleek-UI-Semibold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

body {
    background-color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 11.5px;
    font-weight: normal;
    padding-top: 6px;
    padding-left: 12px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

#main-wrapper {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: minmax(10px, 1fr) 140px minmax(20px, 2fr) 600px 2rem;
    height: 100vh;
}

#img-logo-big {
    object-fit: contain;
    grid-area: 2 / 1 / 3 / 2;
    max-height: 100%;
    max-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

table {
    grid-area: 4 / 1 / 5 / 2;
    height: 100%;
    width: 100%;
    border-spacing: 0;
}

table, th, td {
    border: 1px solid black;
}

td {
    position: relative;
    overflow: hidden;
}

td p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
    pointer-events: none
}

.bingo-checkbox {
    appearance: none;
    -webkit-appearance: none;
    height: 100%;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.bingo-checkbox:hover {
    outline: 3px solid #9a9a9a;
    outline-offset: -2px;
}

.bingo-checkbox:checked {
    background-color: #0078d7;
}

.metadata-checkbox {
    display: none;
}

#meta-unix-browser:checked ~ #main-wrapper .bingo-checkbox:checked {
    background-color: #007bff;
}

@media (prefers-color-scheme: dark) {
    * {
        color: white;
    }
    
    body {
        background-color: black;
    }
    
    table, tr, td {
        border: 1px solid #666666;
    }
    
    #img-logo-big {
        filter: invert(100%)
    }
    
    #meta-unix-browser:checked ~ #main-wrapper .bingo-checkbox {
        cursor: pointer;
    }
    
    #meta-unix-browser:checked ~ #main-wrapper .bingo-checkbox:checked {
        background-color: #0a84ff;
    }
}

@media all and (display-mode: standalone) {
    h1 {
        display: unset;
    }
}